@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: 'Piezo';
        font-style: normal;
        font-weight: 400;
        src: url(/public/fonts/piezo.woff2), format('woff2'), url(/public/fonts/piezo.woff), format('woff');
      }
    
      @font-face {
        font-family: 'Piezo';
        font-style: normal;
        font-weight: 500;
        src: url(/public/fonts/piezo-medium.woff2), format('woff2'), url(/public/fonts/piezo-medium.woff), format('woff');
      }
    
      @font-face {
        font-family: 'Piezo';
        font-style: normal;
        font-weight: 700;
        src: url(/public/fonts/piezo-bold.woff2), format('woff2'), url(/public/fonts/piezo-bold.woff), format('woff');
      }
    
      @font-face {
        font-family: 'Piezo';
        font-style: normal;
        font-weight: 800;
        src: url(/public/fonts/piezo-extrabold.woff2), format('woff2'), url(/public/fonts/piezo-extrabold.woff), format('woff');
      }
    
      @font-face {
        font-family: 'Piezo';
        font-style: normal;
        font-weight: 900;
        src: url(/public/fonts/piezo-black.woff2), format('woff2'), url(/public/fonts/piezo-black.woff), format('woff');
      }
     
    };